

html {
    font-family: Arial,sans-serif;
}

* {
    box-sizing: border-box;
}
header {
    margin-left: 2rem;
    margin-top: 1.25rem;
}
body {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4;
    color: #152a69;
    background-color: ghostwhite;
    margin: auto;
}
footer  {
    margin: 1.25rem;
}
p {
    font-size: 1.1em;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    margin: auto;
}

a {
    color: blueviolet;
    text-decoration: none;
}

a:hover {
    color: magenta;
    border-style:hidden hidden hidden solid;
    border-color: aqua;
}

.diego {
    color : black;
  animation: color-animation 2s linear
infinite;
    --color-1: #20B2AAFF;
    --color-2: #06f677;
    --color-3: #B22222FF;
    text-transform: uppercase;
}

@keyframes color-animation {
    0% {
        color: var(--color-1)
    }
    33% {
        color: var(--color-2)
    }

    66% {
        color: var(--color-3)
    }

    100% {
        color: var(--color-1)
    }
}
#ma_formation {
    color: black;
    border: 5px dotted black;
}
nav {
    background-color: cyan;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 11em;
}
/*@font-face {
    font-display: swap;
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/arimo-v29-latin-regular.woff2') format('woff2');
}*/
.Background {
    box-shadow: 10px 5px 5px blue;
}

