

html {
    font-family: Arial,sans-serif;
    width: 900px;
    margin-left: 20%;
}
@font-face {
    font-family: Grap_frut;
    src: url("/ressource/GrapeNuts-Regular.ttf") format('ttf');
    font-weight: bold;
}

* {
    box-sizing: border-box;
}
header {
    margin-left: 2rem;
    margin-top: 1.25rem;
}
body {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4;
    background-color: ghostwhite;
    margin: auto;
}
footer  {
    margin: 1.25rem;
}
h3  {
    text-align: center;
}
p {
    font-size: 1.1em;
    text-decoration: none;
    text-align: center;
    padding: 10px 6em 10px 6em;
    color: #000000;
}

img {
    display: block;
    max-width: 100%;
    margin: auto;
}

a {
    color: blueviolet;
    text-decoration: none;
}

a:hover {
    color: magenta;
    border-style:hidden hidden hidden solid;
    border-color: aqua;
}

.diego {
    text-align: center;
    color : black;
  animation: color-animation 2s linear
infinite;
    --color-1: #20B2AAFF;
    --color-2: #06f677;
    --color-3: #B22222FF;
    text-transform: uppercase;
}

@keyframes color-animation {
    0% {
        color: var(--color-1)
    }
    33% {
        color: var(--color-2)
    }

    66% {
        color: var(--color-3)
    }

    100% {
        color: var(--color-1)
    }
}
#ma_formation {
    color: black;
    border: 5px dotted black;
    text-align: center;
}
nav {
    padding-bottom: 10px;
    padding-top: 10px;
}

.background {
    box-shadow: 10px 5px 5px blue;
    background-image: url("ressource/giphy.gif");
    background-repeat: no-repeat;
    background-color: ghostwhite;
    background-position-x: right;
    background-position-y: bottom;
    width: 700px;
}
#experience {
    text-align: center;
}

li {
    margin-left: 40%;
    margin-right: 25%;
    color: #000000;
}
.footpa {
    font-family: Grap_frut, sans-serif;
    font-size: 0.7em;
    margin-bottom: 1px;
    padding-bottom: 1px;.

}

