* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4;
    color: darkgreen;
    background-color: white;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

a {
    color: orangered;
    text-decoration: none;
}

a:hover {
    color: magenta;
}

.Diego {
    color : black;
  animation: color-animation 2s linear
infinite;
    --color-1: #DF8453;
    --color-2: #3D8DAE;
    --color-3: #E4A9A8;
    text-transform: uppercase;
}
@keyframes color-animation {
    0% {
        color: var(--color-1)
    }
    32% {
        color: var(--color-1)
    }
    33% {
        color: var(--color-2)
    }
    65% {
        color: var(--color-2)
    }
    66% {
        color: var(--color-3)
    }
    99% {
        color: var(--color-3)
    }
    100% {
        color: var(--color-1)
    }
}